 .rectangleDiv {
	position: relative;
	background: linear-gradient(180deg, rgba(57, 16, 97, 0.9) 13.85%, rgba(234, 55, 107, 0.9));
	width: 100%;
}
.ellipse-1 {
	margin-top: -110px;
	margin-left: -110px;
	background: #ffffff;
	border-radius: 50%;
	width: 42.86px;
	height: 42.86px;
	position: absolute;
	left: 191.35px;
	top: 273.18px;
	box-shadow: 0px 0.76px 22.86px 0px rgba(0, 0, 0, 0.16);
	transform-origin: 0 0;
	transform: rotate(45deg) scale(1, 1);
}
.ellipse-2 {
	margin-top: -110px;
	margin-left: -110px;
	background: #391061;
	border-radius: 50%;
	width: 15.43px;
	height: 15.43px;
	position: absolute;
	left: 153.91px;
	top: 297.57px;
	transform-origin: 0 0;
	transform: rotate(45deg) scale(1, 1);
}
.ellipse-3 {
	margin-top: -110px;
	margin-left: -110px;
	background: var(--tivara-secondary, #ea376b);
	border-radius: 50%;
	width: 6.29px;
	height: 6.29px;
	position: absolute;
	left: 172.33px;
    top: 269.15px;
	transform-origin: 0 0;
	transform: rotate(45deg) scale(1, 1);
}

.ellipse-11 {
	margin-top: -110px;
	margin-left: -110px;
	background: #ffffff;
	border-radius: 50%;
	width: 42.86px;
	height: 42.86px;
	position: absolute;
	left: 195px;
	top: 360px;
	box-shadow: 0px 0.76px 22.86px 0px rgba(0, 0, 0, 0.16);
	transform-origin: 0 0;
	transform: rotate(45deg) scale(1, 1);
}
.ellipse-22 {
	margin-top: -110px;
	margin-left: -110px;
	background: #391061;
	border-radius: 50%;
	width: 15.43px;
	height: 15.43px;
	position: absolute;
	left: 153.91px;
	top: 380px;
	transform-origin: 0 0;
	transform: rotate(45deg) scale(1, 1);
}
.ellipse-33 {
	margin-top: -110px;
	margin-left: -110px;
	background: var(--tivara-secondary, #ea376b);
	border-radius: 50%;
	width: 6.29px;
	height: 6.29px;
	position: absolute;
	left: 180px;
    top: 355px;
	transform-origin: 0 0;
	transform: rotate(45deg) scale(1, 1);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ea376b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tick {
	color: white;
	font-size: 25px;
}

.text {
	font-size: 13px !important;
	text-align: center;
	color: black;
	margin-top: 20px;
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #ea376b;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}
.pass{
	font-size: 14px;
	font-weight: 700;
	color: #391061;
}